<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.omri.battleShip">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyA9PHei4M9TbTM8ARxS0q9_5Ar8wQw3coo"/>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyA9PHei4M9TbTM8ARxS0q9_5Ar8wQw3coo"/>

        <service
            android:name=".SensorService"
            android:enabled="true"
            android:label="ShipService_o_rly?"
            android:icon="@drawable/app_icon"/>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RulesActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".arrangeBattleFieldActivity"
            android:noHistory="true"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LeaderBoard_Activity"
            android:screenOrientation="sensorLandscape"></activity>
    </application>

</manifest>